{% extends "layout.html" %}

{% block title %}
AC10 | Clothes
{% endblock title %}

{% block content %}

<div class="clothing-sections">
    <div class="mens-section">
        <h2>Men's Clothes</h2>

        <h4>Top</h4>
        <ul class="card w-25 mx-auto">
            <li>Shirts</li>
            <li>T-shirts</li>
            <li>Hoodies & Sweatshirts</li>
            <li>Glasses</li>
        </ul>

        <h4>Bottom</h4>
        <ul class="card w-25 mx-auto">
            <li>Jeans</li>
            <li>Shorts</li>
            <li>Underwear & Socks</li>
            <li>Shoes</li>
        </ul>
    </div>

    <div class="women-section">
        <h2>Women's Clothes</h2>

        <h4>Top</h4>
        <ul class="card w-25 mx-auto">
            <li>Shirts</li>
            <li>T-shirts</li>
            <li>Hoodies & Sweatshirts</li>
            <li>Glasses & Bags</li>
        </ul>

        <h4>Bottom</h4>
        <ul class="card w-25 mx-auto">
            <li>Jeans</li>
            <li>Shorts</li>
            <li>Underwear & Socks</li>
            <li>Shoes</li>
        </ul>
    </div>
</div>

{% endblock content %}
